
.container{
	max-width: 1640px;
	width: 100%;
	margin: 0 auto;
/*	background-color: #34C0A6;*/
	padding: 70px 0 70px 0;
}
.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.nav-el{
	color: #707070;
	font-size: 20px;
	font-weight: bold;
}
.nav-bar{
	width: 850px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.main-photo{
	background-image: url(../images/main.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 620px;
}

.first-section{
	margin-top: 140px;
	display: flex;
	flex-wrap: wrap;
}
.second-section{
	display: flex;
	flex-wrap: wrap;
}
.fs-title{
	font-size: 40px;
	margin-bottom: 70px;
}
.frst-art{
	width: 25%;
	border-style: solid;
	border-right-width: 0.1px;
	border-right-color: #707070;
	border-bottom-width: 0.1px;
	border-color: #707070;
}
.sec-art{
	width: 25%;
	border-style: solid;
	border-right-width: 0.1px;
	border-right-color: #707070;
	border-bottom-width: 0.1px;
	border-color: #707070;
}
.thrd-art{
	width: 25%;
	border-style: solid;
	border-right-width: 0.1px;
	border-right-color: #707070;
	border-bottom-width: 0.1px;
	border-color: #707070;
}
.art-title{
	font-size: 30px;
	color: #707070;
	margin: 20px 0 30px 10px;
}
.art-text{
	font-size: 18px;
	color: #707070;
	margin-left: 10px;
}
.more{
	font-size: 24px;
	color: #707070;
	font-weight: bolder;
	/*padding: 70px 20px 20px 350px;*/
	margin-top: 20%;
	margin-left: 85%;
	margin-bottom: 7%;
}

.lead-more{
	margin-left: 45%;
	border-bottom-width: 4px;
	border-bottom-color: #707070;
}
.lead-atag{
	font-size: 30px;
	color: #707070;
}
.footer-content{
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	background-color: #2E2E2E;
	justify-content: space-around;
	padding: 50px;
}
.ft-contact{
	color: white;
	font-size: 20px;
	margin-bottom: 5px;
}
.ft-tel{
	color: white;
	font-size: 14px;
}
.ft-mail{
	color: white;
	font-size: 14px;
}
.ft-address{
	color: white;
	font-size: 20px;
	margin-bottom: 5px;
}
.address-txt{
	color: white;
	font-size: 14px;
}
.fb-logo{
	margin-right: 30px;
}
.mr{
	color: #707070;
}
.art-photo{
	width: 100%;
}
.lead-atag{
	border-style: solid;
	border-bottom-width: 0.1px;
	border-color: #707070;
}
.contact{
	order: 1;
}
.address{
	order: 2;
}
.social-logos{
	order: 3;
}

@media screen and (max-width: 1024px){
	.navigation{
		display: none;
	}
	.main-photo{
		background-image: url(../images/small-main.png);
	}
	.fs-title{
		margin-left: 25%;
	}
	.articles{
		display: flex;
		margin: 0 auto;
		flex-wrap: wrap;
		flex-direction: column;
	}

	.frst-art{
		width: 100%;
	}
	.sec-art{
		width: 100%;
	}
	.thrd-art{
		display: none;

	}
	.art-text{
		width: 70%;
	}
	.footer-logo{
		display: none;
	}
	.footer-content{
		margin: 0 auto;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
	}
	.address{
		order: 1;
		display: flex;
		margin: 0 auto;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		margin-bottom: 20px;
	}
	.contact{
		order: 2;
		display: flex;
		margin: 0 auto;
		flex-wrap: wrap;
		align-items: center;
		flex-direction: column;
		margin-bottom: 20px;
		
	}
}